<div class="row">
    <div class="column" style="background-color:rgb(223, 227, 240);">
        <h2 style="text-align: center;">Najbolj ažurne novice</h2>

        <div class="deck" *ngFor="let article of allArticles; index as i">
            <div class="row justify-content-evenly" *ngFor="let number of [1, 2]">
                <div class="col-6">
                    <mat-card class="example-card">
                        <mat-card-header (click)="displayDetails(article)">
                            <mat-card-title>{{article.title}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{article.desc}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
        
    
    <div class="column" style="background-color:rgb(241, 241, 241);">
        <h2 style="text-align: center;">Analiza in primerjava novic</h2>
        <div *ngIf="this.toDisplay">
            {{this.toDisplay.media_name}}
        </div>
        <mat-card class="example-card">
            <mat-card-header >
                <mat-card-title>Naslov primerjana</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>d</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Rate politicaly</button>
                <button mat-raised-button color="primary">Get raw data</button>
              </mat-card-actions>
        </mat-card>

    </div>
</div>  