<div class="background">
    
    <div class="container">
        <h1 class="text-title">
            <div>
                Check
            </div>
            <div style="margin-left:1rem; margin-top: 3rem">
                Joe
            </div> 
            <div style="margin-left:2rem; padding-left: 30px; margin-top: 3rem">
                Bias
            </div>
        </h1>
        <div class="slogan">
            <div style="justify-content: start; align-items: start; padding-left: 0rem">
                See media
            </div>
            <div style="margin-left: 2rem; padding-top: 1rem; padding-left: 1rem">
                without the <em>lies.</em>
            </div>
        </div>

        <button class="proceed" (click)="redirect()">Get started</button>
    </div>
    
</div>
